<%- include("header") -%>
<h2>About page</h2>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum sapiente delectus obcaecati optio! Voluptatum iste inventore aspernatur debitis necessitatibus culpa fugit, sed nobis quasi aperiam veritatis maxime odit, magni dolor enim ipsa deserunt laboriosam sapiente consequuntur voluptas quis facere! Reprehenderit ex maxime labore, sit eligendi libero assumenda fuga nihil eos?</p>
<%- include("footer") -%>